<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Search</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search by Hashtag..."></ion-searchbar>

    <ion-list>
      <ion-item>
        <b>#</b>
        kardusbekas
      </ion-item>
      <ion-item>
        <b>#</b>
        barangbekas
      </ion-item>
      <ion-item>
        <b>#</b>
        botolbekas
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-content>
